In [3]:
import pandas as pd
from database_connection import engine

In [9]:
# Import csv into pandas dataframe
data_2007 = pd.read_csv("Resources/2007-PIT-Counts-by-State.csv")
data_2007_df = pd.DataFrame(data_2007)
data_2007_df.head()

,State,Number of CoCs,"Overall Homeless, 2007","Sheltered ES Homeless, 2007","Sheltered TH Homeless, 2007","Sheltered Total Homeless, 2007","Unsheltered Homeless, 2007","Overall Homeless Individuals, 2007","Sheltered ES Homeless Individuals, 2007","Sheltered TH Homeless Individuals, 2007",...,"Sheltered ES Homeless Family Households, 2007","Sheltered TH Homeless Family Households, 2007","Sheltered Total Homeless Family Households, 2007","Unsheltered Homeless Family Households, 2007","Overall Chronically Homeless Individuals, 2007","Sheltered Total Chronically Homeless Individuals, 2007","Unsheltered Chronically Homeless Individuals, 2007","Overall Homeless Veterans, 2007","Sheltered Total Homeless Veterans, 2007","Unsheltered Homeless Veterans, 2007"
0,AK,2.0,"1,642",898,489,"1,387",255,"1,062",618,273,...,95,70,165,25,278,221,57,203,152,51
1,AL,8.0,"5,452","1,452","2,344","3,796","1,656","4,184","1,210","1,613",...,96,251,347,119,993,483,510,974,745,229
2,AR,9.0,"3,836","1,251","1,034","2,285","1,551","2,987",985,781,...,97,87,184,140,852,409,443,287,255,32
3,AS,0.0,,,,,,,,,...,,,,,,,,,,
4,AZ,3.0,"14,646","3,934","4,684","8,618","6,028","10,020","2,412","2,011",...,463,828,"1,291",168,"2,804",650,"2,154",869,858,11

In [11]:
# Create column for the year and set to 2007
data_2007_df["Year"] = 2007
data_2007_df.head()

,State,Number of CoCs,"Overall Homeless, 2007","Sheltered ES Homeless, 2007","Sheltered TH Homeless, 2007","Sheltered Total Homeless, 2007","Unsheltered Homeless, 2007","Overall Homeless Individuals, 2007","Sheltered ES Homeless Individuals, 2007","Sheltered TH Homeless Individuals, 2007",...,"Sheltered TH Homeless Family Households, 2007","Sheltered Total Homeless Family Households, 2007","Unsheltered Homeless Family Households, 2007","Overall Chronically Homeless Individuals, 2007","Sheltered Total Chronically Homeless Individuals, 2007","Unsheltered Chronically Homeless Individuals, 2007","Overall Homeless Veterans, 2007","Sheltered Total Homeless Veterans, 2007","Unsheltered Homeless Veterans, 2007",Year
0,AK,2.0,"1,642",898,489,"1,387",255,"1,062",618,273,...,70,165,25,278,221,57,203,152,51,2007
1,AL,8.0,"5,452","1,452","2,344","3,796","1,656","4,184","1,210","1,613",...,251,347,119,993,483,510,974,745,229,2007
2,AR,9.0,"3,836","1,251","1,034","2,285","1,551","2,987",985,781,...,87,184,140,852,409,443,287,255,32,2007
3,AS,0.0,,,,,,,,,...,,,,,,,,,,2007
4,AZ,3.0,"14,646","3,934","4,684","8,618","6,028","10,020","2,412","2,011",...,828,"1,291",168,"2,804",650,"2,154",869,858,11,2007

In [13]:
# Get Column Names
cols = data_2007_df.columns.tolist()
cols

['State',
 'Number of CoCs',
 'Overall Homeless, 2007',
 'Sheltered ES Homeless, 2007',
 'Sheltered TH Homeless, 2007',
 'Sheltered Total Homeless, 2007',
 'Unsheltered Homeless, 2007',
 'Overall Homeless Individuals, 2007',
 'Sheltered ES Homeless Individuals, 2007',
 'Sheltered TH Homeless Individuals, 2007',
 'Sheltered Total Homeless Individuals, 2007',
 'Unsheltered Homeless Individuals, 2007',
 'Overall Homeless People in Families, 2007',
 'Sheltered ES Homeless People in Families, 2007',
 'Sheltered TH Homeless People in Families, 2007',
 'Sheltered Total Homeless People in Families, 2007',
 'Unsheltered Homeless People in Families, 2007',
 'Overall Homeless Family Households, 2007',
 'Sheltered ES Homeless Family Households, 2007',
 'Sheltered TH Homeless Family Households, 2007',
 'Sheltered Total Homeless Family Households, 2007',
 'Unsheltered Homeless Family Households, 2007',
 'Overall Chronically Homeless Individuals, 2007',
 'Sheltered Total Chronically Homeless Individuals, 2007',
 'Unsheltered Chronically Homeless Individuals, 2007',
 'Overall Homeless Veterans, 2007',
 'Sheltered Total Homeless Veterans, 2007',
 'Unsheltered Homeless Veterans, 2007',
 'Year']

In [14]:
# Rearrange column names so year is second
new_cols = ['State', 'Year',
 'Number of CoCs',
 'Overall Homeless, 2007',
 'Sheltered ES Homeless, 2007',
 'Sheltered TH Homeless, 2007',
 'Sheltered Total Homeless, 2007',
 'Unsheltered Homeless, 2007',
 'Overall Homeless Individuals, 2007',
 'Sheltered ES Homeless Individuals, 2007',
 'Sheltered TH Homeless Individuals, 2007',
 'Sheltered Total Homeless Individuals, 2007',
 'Unsheltered Homeless Individuals, 2007',
 'Overall Homeless People in Families, 2007',
 'Sheltered ES Homeless People in Families, 2007',
 'Sheltered TH Homeless People in Families, 2007',
 'Sheltered Total Homeless People in Families, 2007',
 'Unsheltered Homeless People in Families, 2007',
 'Overall Homeless Family Households, 2007',
 'Sheltered ES Homeless Family Households, 2007',
 'Sheltered TH Homeless Family Households, 2007',
 'Sheltered Total Homeless Family Households, 2007',
 'Unsheltered Homeless Family Households, 2007',
 'Overall Chronically Homeless Individuals, 2007',
 'Sheltered Total Chronically Homeless Individuals, 2007',
 'Unsheltered Chronically Homeless Individuals, 2007',
 'Overall Homeless Veterans, 2007',
 'Sheltered Total Homeless Veterans, 2007',
 'Unsheltered Homeless Veterans, 2007'
 ]

In [16]:
# Apply rearranged column names
data_2007_df = data_2007_df[new_cols]
data_2007_df.head()

,State,Year,Number of CoCs,"Overall Homeless, 2007","Sheltered ES Homeless, 2007","Sheltered TH Homeless, 2007","Sheltered Total Homeless, 2007","Unsheltered Homeless, 2007","Overall Homeless Individuals, 2007","Sheltered ES Homeless Individuals, 2007",...,"Sheltered ES Homeless Family Households, 2007","Sheltered TH Homeless Family Households, 2007","Sheltered Total Homeless Family Households, 2007","Unsheltered Homeless Family Households, 2007","Overall Chronically Homeless Individuals, 2007","Sheltered Total Chronically Homeless Individuals, 2007","Unsheltered Chronically Homeless Individuals, 2007","Overall Homeless Veterans, 2007","Sheltered Total Homeless Veterans, 2007","Unsheltered Homeless Veterans, 2007"
0,AK,2007,2.0,"1,642",898,489,"1,387",255,"1,062",618,...,95,70,165,25,278,221,57,203,152,51
1,AL,2007,8.0,"5,452","1,452","2,344","3,796","1,656","4,184","1,210",...,96,251,347,119,993,483,510,974,745,229
2,AR,2007,9.0,"3,836","1,251","1,034","2,285","1,551","2,987",985,...,97,87,184,140,852,409,443,287,255,32
3,AS,2007,0.0,,,,,,,,...,,,,,,,,,,
4,AZ,2007,3.0,"14,646","3,934","4,684","8,618","6,028","10,020","2,412",...,463,828,"1,291",168,"2,804",650,"2,154",869,858,11

In [18]:
# rename columns to remove year from each column title
dict = {
 'Overall Homeless, 2007':'Overall Homeless',
 'Sheltered ES Homeless, 2007':'Sheltered ES Homeless',
 'Sheltered TH Homeless, 2007':'Sheltered TH Homeless',
 'Sheltered Total Homeless, 2007':'Sheltered Total Homeless',
 'Unsheltered Homeless, 2007':'Unsheltered Homeless',
 'Overall Homeless Individuals, 2007':'Overall Homeless Individuals',
 'Sheltered ES Homeless Individuals, 2007':'Sheltered ES Homeless Individuals',
 'Sheltered TH Homeless Individuals, 2007':'Sheltered TH Homeless Individuals',
 'Sheltered Total Homeless Individuals, 2007':'Sheltered Total Homeless Individuals',
 'Unsheltered Homeless Individuals, 2007':'Unsheltered Homeless Individuals',
 'Overall Homeless People in Families, 2007':'Overall Homeless People in Families',
 'Sheltered ES Homeless People in Families, 2007':'Sheltered ES Homeless People in Families',
 'Sheltered TH Homeless People in Families, 2007':'Sheltered TH Homeless People in Families',
 'Sheltered Total Homeless People in Families, 2007':'Sheltered Total Homeless People in Families',
 'Unsheltered Homeless People in Families, 2007':'Unsheltered Homeless People in Families',
 'Overall Homeless Family Households, 2007':'Overall Homeless Family Households',
 'Sheltered ES Homeless Family Households, 2007':'Sheltered ES Homeless Family Households',
 'Sheltered TH Homeless Family Households, 2007':'Sheltered TH Homeless Family Households',
 'Sheltered Total Homeless Family Households, 2007':'Sheltered Total Homeless Family Households',
 'Unsheltered Homeless Family Households, 2007':'Unsheltered Homeless Family Households',
 'Overall Chronically Homeless Individuals, 2007':'Overall Chronically Homeless Individuals',
 'Sheltered Total Chronically Homeless Individuals, 2007':'Sheltered Total Chronically Homeless Individuals',
 'Unsheltered Chronically Homeless Individuals, 2007':'Unsheltered Chronically Homeless Individuals',
 'Overall Homeless Veterans, 2007':'Overall Homeless Veterans',
 'Sheltered Total Homeless Veterans, 2007':'Sheltered Total Homeless Veterans',
 'Unsheltered Homeless Veterans, 2007':'Unsheltered Homeless Veterans'
       }
data_2007_df.rename(columns=dict, inplace=True)

In [22]:
# Export df to sql table
data_2007_df.to_sql(name='data_2007', con=engine)