In [7]:
import pandas as pd
from database_connection import engine
import functools as ft

# 2007

In [35]:
# Import csv into pandas dataframe
data_2007 = pd.read_csv("Resources/2007-PIT-Counts-by-State.csv")
data_2007_df = pd.DataFrame(data_2007)
data_2007_df.head()

,State,Number of CoCs,"Overall Homeless, 2007","Sheltered ES Homeless, 2007","Sheltered TH Homeless, 2007","Sheltered Total Homeless, 2007","Unsheltered Homeless, 2007","Overall Homeless Individuals, 2007","Sheltered ES Homeless Individuals, 2007","Sheltered TH Homeless Individuals, 2007",...,"Sheltered ES Homeless Family Households, 2007","Sheltered TH Homeless Family Households, 2007","Sheltered Total Homeless Family Households, 2007","Unsheltered Homeless Family Households, 2007","Overall Chronically Homeless Individuals, 2007","Sheltered Total Chronically Homeless Individuals, 2007","Unsheltered Chronically Homeless Individuals, 2007","Overall Homeless Veterans, 2007","Sheltered Total Homeless Veterans, 2007","Unsheltered Homeless Veterans, 2007"
0,AK,2.0,"1,642",898,489,"1,387",255,"1,062",618,273,...,95,70,165,25,278,221,57,203,152,51
1,AL,8.0,"5,452","1,452","2,344","3,796","1,656","4,184","1,210","1,613",...,96,251,347,119,993,483,510,974,745,229
2,AR,9.0,"3,836","1,251","1,034","2,285","1,551","2,987",985,781,...,97,87,184,140,852,409,443,287,255,32
3,AS,0.0,,,,,,,,,...,,,,,,,,,,
4,AZ,3.0,"14,646","3,934","4,684","8,618","6,028","10,020","2,412","2,011",...,463,828,"1,291",168,"2,804",650,"2,154",869,858,11

In [36]:
# Create column for the year and set to 2007
data_2007_df.insert(loc=0, column='Year', value=2007)
data_2007_df.head()

,Year,State,Number of CoCs,"Overall Homeless, 2007","Sheltered ES Homeless, 2007","Sheltered TH Homeless, 2007","Sheltered Total Homeless, 2007","Unsheltered Homeless, 2007","Overall Homeless Individuals, 2007","Sheltered ES Homeless Individuals, 2007",...,"Sheltered ES Homeless Family Households, 2007","Sheltered TH Homeless Family Households, 2007","Sheltered Total Homeless Family Households, 2007","Unsheltered Homeless Family Households, 2007","Overall Chronically Homeless Individuals, 2007","Sheltered Total Chronically Homeless Individuals, 2007","Unsheltered Chronically Homeless Individuals, 2007","Overall Homeless Veterans, 2007","Sheltered Total Homeless Veterans, 2007","Unsheltered Homeless Veterans, 2007"
0,2007,AK,2.0,"1,642",898,489,"1,387",255,"1,062",618,...,95,70,165,25,278,221,57,203,152,51
1,2007,AL,8.0,"5,452","1,452","2,344","3,796","1,656","4,184","1,210",...,96,251,347,119,993,483,510,974,745,229
2,2007,AR,9.0,"3,836","1,251","1,034","2,285","1,551","2,987",985,...,97,87,184,140,852,409,443,287,255,32
3,2007,AS,0.0,,,,,,,,...,,,,,,,,,,
4,2007,AZ,3.0,"14,646","3,934","4,684","8,618","6,028","10,020","2,412",...,463,828,"1,291",168,"2,804",650,"2,154",869,858,11

In [37]:
# Strip away year from column names
data_2007_df.columns = data_2007_df.columns.str.rstrip(', 2007')
data_2007_df.head()

,Year,State,Number of CoCs,Overall Homeless,Sheltered ES Homeless,Sheltered TH Homeless,Sheltered Total Homeless,Unsheltered Homeless,Overall Homeless Individuals,Sheltered ES Homeless Individuals,...,Sheltered ES Homeless Family Households,Sheltered TH Homeless Family Households,Sheltered Total Homeless Family Households,Unsheltered Homeless Family Households,Overall Chronically Homeless Individuals,Sheltered Total Chronically Homeless Individuals,Unsheltered Chronically Homeless Individuals,Overall Homeless Veterans,Sheltered Total Homeless Veterans,Unsheltered Homeless Veterans
0,2007,AK,2.0,"1,642",898,489,"1,387",255,"1,062",618,...,95,70,165,25,278,221,57,203,152,51
1,2007,AL,8.0,"5,452","1,452","2,344","3,796","1,656","4,184","1,210",...,96,251,347,119,993,483,510,974,745,229
2,2007,AR,9.0,"3,836","1,251","1,034","2,285","1,551","2,987",985,...,97,87,184,140,852,409,443,287,255,32
3,2007,AS,0.0,,,,,,,,...,,,,,,,,,,
4,2007,AZ,3.0,"14,646","3,934","4,684","8,618","6,028","10,020","2,412",...,463,828,"1,291",168,"2,804",650,"2,154",869,858,11

In [38]:
# Export df to sql table
data_2007_df.to_sql(name='data_2007', con=engine, if_exists='replace')

In [16]:
# Import csv into pandas dataframe
data_2008 = pd.read_csv("Resources/2008-PIT-Counts-by-State.csv")
data_2008_df = pd.DataFrame(data_2008)
data_2008_df.head()

,State,Number of CoCs,"Overall Homeless, 2008","Sheltered ES Homeless, 2008","Sheltered TH Homeless, 2008","Sheltered Total Homeless, 2008","Unsheltered Homeless, 2008","Overall Homeless Individuals, 2008","Sheltered ES Homeless Individuals, 2008","Sheltered TH Homeless Individuals, 2008",...,"Sheltered ES Homeless Family Households, 2008","Sheltered TH Homeless Family Households, 2008","Sheltered Total Homeless Family Households, 2008","Unsheltered Homeless Family Households, 2008","Overall Chronically Homeless Individuals, 2008","Sheltered Total Chronically Homeless Individuals, 2008","Unsheltered Chronically Homeless Individuals, 2008","Overall Homeless Veterans, 2008","Sheltered Total Homeless Veterans, 2008","Unsheltered Homeless Veterans, 2008"
0,AK,2.0,"1,646",847,605,"1,452",194,"1,067",557,355,...,83,75,158,14,439,355,84,218,189,29
1,AL,8.0,"5,387","1,534","2,309","3,843","1,544","4,086","1,159","1,644",...,131,245,376,107,"1,052",579,473,801,677,124
2,AR,6.0,"3,255","1,048",972,"2,020","1,235","2,625",860,757,...,76,81,157,128,893,492,401,235,219,16
3,AS,0.0,,,,,,,,,...,,,,,,,,,,
4,AZ,3.0,"12,488","3,104","3,866","6,970","5,518","8,428","1,782","1,594",...,404,681,"1,085",192,"3,097","1,223","1,874",736,736,0

In [32]:
years = [2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]
def remove_year():
    for year in years:
        # Import csv into pandas dataframe
        data = pd.read_csv(f"Resources/{year}-PIT-Counts-by-State.csv")
        data_df = pd.DataFrame(data)
        
        # Add year column
        data_df.insert(loc=0, column='Year', value=year)

        # Strip away year from column names
        data_df.columns = data_df.columns.str.rstrip(f', {year}')    
        
        print(f'Cleaning done for {year}')

In [33]:
remove_year()

Cleaning done for 2007
Cleaning done for 2008
Cleaning done for 2009
Cleaning done for 2010
Cleaning done for 2011
Cleaning done for 2012
Cleaning done for 2013
Cleaning done for 2014
Cleaning done for 2015
Cleaning done for 2016
Cleaning done for 2017
Cleaning done for 2018
Cleaning done for 2019
Cleaning done for 2020
Cleaning done for 2021

NameError: name 'data_df' is not defined